p {
    text-align: left;
    color:black
}

#demeter {
    background-color: seagreen;
}

#hades {
    font-style:oblique;
    background-color: red;
}

#persephone {
    font-style: italic;
    color:black;
    background-color: blue;
}

.ending { 
    font-style: italic;
    color: red
}