p {
    text-align: left;
    color:black
}

#demeter {
    background-color: seagreen;
}

#hades {
    font:bold;
    font-style: oblique;
    background-color:#ff0000;
}

#persephone {
    font-style: italic;
  
    color:black;
    background-color: #0000ff;
}

.ending { 
    font-style: italic;
    color: red
}

.title {
    font:larger;
    background-color: red;
}